body {
  margin: 0%;
  padding: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url(https://img.freepik.com/free-vector/realistic-casino-background_52683-8811.jpg);
}

.main-container {
  position: relative;
  display: grid;
  width: 90cqi;
  margin: auto;
  border: 7px solid #b613d2;
  border-radius: 50%;

  &::after{
    aspect-ratio: 1 / cos(30deg);
    background-color: rgb(142, 30, 161);
    clip-path: polygon(50% 100%, 100% 0, 0 0);
    content: "";
    height: 4cqi;
    place-self:  start center;
    scale: 1.4;
   position: fixed;
  }
}

.wheel-body {
  margin: 5cqi;
  --items: 10;
  all: unset;
  aspect-ratio: 1/1;
  container-type: inline-size;
  direction: ltr;
  display: grid;
  place-content: center start;
  clip-path: inset(0 0 0 0 round 50%);

  
}



li {
  align-content: center;
  display: grid;
  font-size: 5cqi;
  grid-area: 1 /-1;
  list-style: none;
  transform-origin: center right;
  width: 50cqi;

  span {
    padding-left: 5cqi;
  }

  /* css gor every li element */
  &:nth-of-type(1) {
    --index: 1;
  }

  &:nth-of-type(2) {
    --index: 2;
  }

  &:nth-of-type(3) {
    --index: 3;
  }

  &:nth-of-type(4) {
    --index: 4;
  }

  &:nth-of-type(5) {
    --index: 5;
  }

  &:nth-of-type(6) {
    --index: 6;
  }

  &:nth-of-type(7) {
    --index: 7;
  }

  &:nth-of-type(8) {
    --index: 8;
  }

  &:nth-of-type(9) {
    --index: 9;
  }

  &:nth-of-type(10) {
    --index: 10;
  }

  rotate: calc(360deg / var(--items) * calc(var(--index)));
  background: hsl(calc(360deg / var(--items) * calc(var(--index))), 100%, 70%);
  height: calc((2*pi*53cqi) / var(--items));
  clip-path: polygon(0% -2%, 100% 50%, 0% 102%);  
}



button{
  aspect-ratio: 1 / 1;
  background:hsla(0, 0%, 100%, .8);
  border: 3px solid rgb(40 148 197);
  border-radius: 50%; 
  font-size: 5cqi;
  cursor: pointer;
  width: 20cqi;
  place-self: center;
  position: absolute  ;
}
